/* Ogólne style dla sekcji */
.stats-section {
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-border-insets: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.5, 0, 2);
}

/* Siatka */
.grid-style {
    -fx-border-color: #333333;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-padding: 15;
    /*-fx-hgap: 5;*/
    /*-fx-vgap: 5;*/
    -fx-background-color: #ffffff;
}

/* Nagłówki */
.header {
    -fx-font-weight: 700;
    -fx-font-size: 18;
    -fx-text-fill: #444444;
    -fx-padding: 10 0 15 0;
}

/* Wspólny styl etykiet */
.grid-style Label {
    -fx-padding: 5;
    -fx-font-size: 14;
    -fx-text-fill: #333333;
}

/* Styl głównej sekcji */
.main {
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-background-color: #eaeaea;
}

/* Styl dla wykresu */
.chart-style {
    -fx-min-width: 300;
    -fx-min-height: 200;
    -fx-max-width: 300;
    -fx-max-height: 200;
    -fx-background-color: #fafafa;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 10;
}
.chart-series-line {
    -fx-stroke: green; 
}
